@model barbershop_web3.Models.Employee

@{
    ViewData["Title"] = "Personel Düzenle";
}

<h2>@ViewData["Title"]</h2>

<div class="center-form row">
    <div class="col-md-6">

<form asp-action="EmployeeEdit" method="post">
    <input type="hidden" asp-for="EmployeeID" />

    <div class="form-group">
        <label asp-for="EmployeeName" class="control-label"></label>
        <input asp-for="EmployeeName" class="form-control" />
        <span asp-validation-for="EmployeeName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-custom">Değişiklikleri Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary btn-custom">İptal</a>
</form>
    </div>
</div>
