<div class="container-fluid p-0">
    <div class="main-container">
        <div class="text-section">
            <h1>Görünüşünüz ruhunuzu yansıtır.</h1>
            <p>Görünüşünüz, karşı taraf için ilk 3 saniyede etkin bir üstünlük kurmanızı sağlar.</p>
        </div>
        <div class="image-section">
            <img src="/images/animated.gif" alt="Animated Icons">
        </div>
    </div>
    <!-- Orta Bölüm -->
    <div class="row align-items-center orta">
        <div class="col-md-6 p-5">
            <h1>Barber Shop</h1>
            <p>Görünüşüne değer verenlerin tercihi.</p>
            <p>Sizler için sürekli gelişiyoruz. Son teknoloji bakım materyallerimiz ve sürekli gelişen kadromuz ile hizmetinizdeyiz.</p>
        </div>
        <div class="col-md-6 p-0">
            <img src="/images/salon.jpg" alt="Salon Görseli" class="img-fluid">
        </div>
    </div>

    <!-- Alt Bölüm -->
    <div class="row text-center py-5">
        <div class="col-md-3">
            <img src="/images/icon1.png" alt="Fön Çekim" style="max-width: 100px; height:auto">
            <h4>Fön Çekim</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-md-3">
            <img src="/images/icon2.png" alt="Saç Kesim" style="max-width: 100px; height:auto">
            <h4>Saç Kesim</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-md-3">
            <img src="/images/icon3.png" alt="Sakal Kesim" style="max-width: 100px; height:auto">
            <h4>Sakal Kesim</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-md-3">
            <img src="/images/icon4.png" alt="Cilt Bakımı" style="max-width: 100px; height:auto">
            <h4>Cilt Bakımı</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>
</div>


