@model barbershop_web2.Models.User

<div class="alert-danger"> @TempData["msj"]</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="userSave">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class=" form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="UserNick" class="control-label"></label>
                <input asp-for="UserNick" class="form-control" />
                <span asp-validation-for="UserNick" class="text-danger"></span>
            </div>       


            <div class="form-group">
                <label asp-for="UserPass" class="control-label"></label>
                <input asp-for="UserPass" class="form-control" />
                <span asp-validation-for="UserPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="User Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
