@model IEnumerable<barbershop_web3.Models.Saloon>

@{
    ViewData["Title"] = "Salon Listesi";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-info">
    @TempData["msj"]
</div>

<table class="table">
    <thead>
        <tr>
            <th>Salon Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var saloon in Model)
        {
            <tr>
                <td>@saloon.SaloonName</td>
                
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-success" href="@Url.Action("Create", "Saloon")">Yeni Salon Ekle</a>
</div>
