@model IEnumerable<barbershop_web3.Models.Saloon>

@{
    ViewData["Title"] = "Salon Listesi";
}

<h2>@ViewData["Title"]</h2>




<table class="table custom-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaloonName)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SaloonName)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="SaloonCreate" class="btn btn-primary btn-custom-table">Yeni Salon Oluştur</a>
</p>
