@model barbershop_web3.Models.Saloon

@{
    ViewData["Title"] = "Salon Oluştur";
}

<h2>@ViewData["Title"]</h2>

<div class="alert-danger">
    @TempData["msj"]
</div>

<div class="center-form row">
    <div class="col-md-6">
        <form asp-action="SaloonCreate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="SaloonName" class="control-label"></label>
                <input asp-for="SaloonName" class="form-control" />
                <span asp-validation-for="SaloonName" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Salon Oluştur" class="btn btn-primary btn-custom" />
            </div>
        </form>
        <a asp-action="Index" class="git">Salon Listesine Git</a>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
