@model barbershop_web3.Models.Service

@{
    ViewData["Title"] = "Create Service";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="serviceCreate" method="post">
    <div class="form-group">
        <label asp-for="ServiceName" class="control-label"></label>
        <input asp-for="ServiceName" class="form-control" placeholder="Enter service name" />
        <span asp-validation-for="ServiceName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Time" class="control-label"></label>
        <input asp-for="Time" class="form-control" placeholder="Enter service duration in hours" />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" placeholder="Enter service price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Create Service</button>
</form>

<a href="@Url.Action("Index", "Home")" class="btn btn-secondary mt-3">Back to list</a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
