@model barbershop_web3.Models.Service

@{
    ViewData["Title"] = "Servis Oluştur";
}

<h2>@ViewData["Title"]</h2>


<div class="center-form row">
    <div class="col-md-6">
<form asp-action="serviceCreate" method="post">
    <div class="form-group">
        <label asp-for="ServiceName" class="control-label"></label>
        <input asp-for="ServiceName" class="form-control" placeholder="Servis ismi giriniz" />
        <span asp-validation-for="ServiceName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Time" class="control-label"></label>
        <input asp-for="Time" class="form-control" placeholder="Servis süresi giriniz" />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" placeholder="Servis ücreti giriniz." />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>


    <div class="form-group text-center">
        <input type="submit" value="Servis Oluştur" class="btn btn-primary btn-custom" />
    </div>
</form>
        <a asp-action="Index" class="git">Servis Listesine Git</a>
    </div>
    </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
